/* Background */
body {
  background-color: #f8f8f8;
}
#navigation > ul > li.active-trail {
  background-color: #f8f8f8;
}
/* Text (black) */
body,
#navigation li.active a,
h1.page-title,
.node h2.node-title,
.node h1.node-title a,
.node h2.node-title a,
.comment h3.title a,
.tabs ul.tabs li a,
pre,
code,
samp,
var,
table.update tr,
table.system-status-report tr {
  color: #2e2e2e;
}
#site-name a {
  text-shadow: #000 1px 1px;
}
#site-name a::-moz-selection {
  background-color: #2e2e2e;
}
#site-name a::selection {
  background-color: #2e2e2e;
}
.node-title a::-moz-selection {
  background-color: #2e2e2e;
}
.node-title a::selection {
  background-color: #2e2e2e;
}
/* Link (blue) */
a,
a.active,
li a.active {
  color: #086782;
}
legend {
  background-color: #086782;
}
/* Link hovered (orange) */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  color: #e25401;
  border-bottom-color: #e25401;
}
.node h1.node-title a:hover,
.node h2.node-title a:hover {
  color: #e25401;
}
/* Link underline (light blue) */
a {
  border-bottom: 1px solid #cfdde5;
}
/* Navigation (black) */
#navigation-wrapper {
  background-color: #035c94;
}
/* Navigation hovered (orange) */
#navigation li a:hover,
#navigation li a:active,
#navigation li a:focus {
  background-color: #057ed1;
}
/* Slogan (orange) */
#site-slogan {
}
#site-slogan::selection {
  background-color:  #314f64;
}
#site-slogan::-moz-selection {
  background-color:  #314f64;
}
.poll .bar .foreground {
  background-color: #e25400;
}
/* Border (gray) */
#page {
  border: 1px solid #e1e1e1;
}
/* Border strong (dark gray) */
#sidebar-first input,
#sidebar-second input {
  border: 1px solid #c4c4c4;
}
.tabs ul.tabs li a {
  border: 1px solid #c4c4c4;
}
/* Tab */
.tabs ul.tabs li a {
  background-color: #f5f4f3;
}
ul.vertical-tabs-list li a {
  background-color: #f5f4f3;
}
/* Block title (green) */
.block h2,
h2 {
  color: #779125;
}
.block h2::selection {
  color: #fff;
  background-color: #779125;
}
.block h2::-moz-selection {
  background-color: #779125;
  color: #fff;
}
/* Fieldset (gray) */
fieldset {
  background-color: #fbfbfb;
}
/* Fieldset border (dark gray) */
fieldset {
  border: 1px solid #e1e1e2;
}

